html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0;
  line-height: 36px;
}

.search-form {
  display: inline-block;
}

.content {
  flex: 1;
  display: flex;
}

.thumbnail-content {
  background-color: #000;
  flex: 1;
}
